[2018-02-12 15:45] GeorgLink opened #6 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-20 22:00] GeorgLink opened #8 "Document prefixes for emails that we will use on the mailing list"
We talked about merging all mailing lists into one. The idea is to use prefixes to denote what topic an email falls into. We should create a list of prefixes and thus document them. With that in place, we can use filters in our own mail clients.

[2018-02-21 22:38] GeorgLink commented on #8
Audiences (require exactly one):
[all] - to address the whole CHAOSS community
[software] - to address the software committee
[metrics] - to address the metrics committee
[d&i] - to address diversity & inclusion report work group

Possible community practice: Ignore email (auto delete with personal filter rules) if not following this standard.

Content tags (optional):
[minutes] - tag meeting minu

[2018-02-22 00:07] germonprez commented on #8
This is a good list.

Would it be as: [all][intro]

or: [software]

??

[2018-03-20 20:01] GouravSardana opened #19 "proposal link"
I forget to add link of my proposal.
Should i add??

[2018-03-20 21:40] GeorgLink commented on #19
Yes

[2018-03-22 08:01] GouravSardana commented on #19
on pull request??

[2018-03-22 09:01] GeorgLink commented on #19
Yes, create a pull request for it.

[2018-03-23 10:29] GouravSardana commented on #19
I create a pull request. You can check @GeorgLink

[2018-03-23 10:30] GouravSardana commented on #19
You can review it and ask me for changes. After your review I finally submitted to gsoc.

[2018-03-23 23:19] GouravSardana opened #23 "Talk to the mentors"
I want to talk to the mentors of idea #3 prototype new CHAOSS Metrics.
Kindly provide their email or some other things where I can chat regarding the implementation of the project.

[2018-03-24 12:42] GouravSardana commented on #23
@sgoggins I want to talk to you about the implementation regarding prototype new chaoss metrics that what all of you are planning?

[2018-03-24 14:41] sgoggins commented on #23
Hi Gourav,

The priority metrics are those in the https://github.com/chaoss/metrics/blob/master/2_Growth-Maturity-Decline.md#community-growth <https://github.com/chaoss/metrics/blob/master/2_Growth-Maturity-Decline.md#community-growth>

section of growth, maturity and decline. Any of the Growth, Maturity & Decline; Risk and Value sections are also good choices.  Diversity and Inclusion Metrics may

[2018-03-27 09:33] theexplorist opened #48 "merge micro task"
i have pull requested the proposed micro task , kindly see to it

[2018-03-27 15:54] theexplorist commented on #48
sir i have linked the proposal but it is showing conflicts

[2018-03-27 16:47] GeorgLink commented on #48
Please keep the discussion of pull requests within pull requests. I addressed your questions in #52 and #47

[2018-03-27 16:47] #48 closed

[2018-03-27 18:31] theexplorist opened #56 "talk to mentors"

[2018-03-27 18:31] theexplorist commented on #56
sir but i have submitted the proposal so why did you removed me ?

[2018-03-27 18:40] GeorgLink commented on #56
Because I do not see your Google Summer of Code Proposal in the official GSoC application pool. If you used a different name, then please let me know and I will add you again.

[2018-03-27 18:40] #56 closed

[2018-03-27 18:45] theexplorist opened #58 "talk to mentors"
sir now i know the problem, i did not filled the GSOC applying application ,i thought GSOC proposal is the application,so i just completed the micro task and made a proposal. I think mine chance is gone for this time. Sir how many times can i try now ? I want to work with CHAOSS only.

[2018-03-27 18:51] theexplorist commented on #58
And thanks for helping me .

[2018-03-27 18:52] GeorgLink commented on #58
You are very welcome to work with CHAOSS. We address an issue that many
companies and open source projects care about and you can learn valuable
skills with us. I suggest joining our weekly calls and findings things to
do.

[2018-03-27 18:52] theexplorist commented on #58
i will sir

[2018-03-27 18:53] theexplorist commented on #58
i just pased my sophomore year so can i apply for GSOC  next time with ur org

[2018-03-27 18:54] theexplorist commented on #58
Actually i was unaware that i have to fill a GSOC application separately ,and that sacked my chances , i was very much eager to work.

[2018-03-27 18:55] GeorgLink commented on #58
Okay.

[2018-03-27 18:55] theexplorist commented on #58
I think the deadline to fill form is over.

[2018-03-27 19:00] #58 closed

[2018-03-27 19:00] GeorgLink commented on #58
Yes, the deadline has passed. You can apply again next year.

[2018-03-28 10:13] #23 closed

[2018-03-28 22:15] #19 closed

[2018-04-08 17:32] theexplorist opened #62 "talk with mentors"
sir i did not fill the form for this GSOC so i was removed, next year also i want to work for your organisation.
you have asked me to attend the weekly calls, so sir what is  the procedure ?

[2018-04-08 21:44] germonprez commented on #62
You can find information here:

https://wiki.linuxfoundation.org/chaoss/metrics

On Sun, Apr 8, 2018 at 12:32 PM, Kartik Sapra <notifications@github.com>
wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
https://goo.gl/E87KdK

[2018-04-24 06:58] karansingh1559 opened #63 "Feedback regarding GSoC"
Hey @jgbarah @valeriocos thanks for helping me, to get through the process of writing a GSoC proposal. Unfortunately, my project did not get selected. This was my first time in GSoC and I would like to know any shortcomings in my proposal that you might have come across, so that I can apply to GSoC in a better way.

[2018-04-24 07:28] jgbarah commented on #63
Thanks a lot for trying GSoC with us, and for your interest in the CHAOSS and GrimoireLab projects. We received a lot of good proposals, and finally we had to decide on those that we thought fitted better in the context of the projects. This does not say anything against you, your proposals, or your skills, and I encourage you to try GSoC again next year, if that is convenient for you. And of cour

[2018-04-24 07:28] #63 closed

[2018-05-04 12:09] #62 closed

[2018-06-05 05:50] theexplorist opened #67 "connect with organisation"
Sir, i have previously worked and completed a microtask with your organisation. Sir i want to know how i can attend your calls and want to know about the conference dated 28 august.

[2018-06-05 08:05] geekygirldawn commented on #67
Hi, the information about the conference can be found on our [website](https://chaoss.community/chaosscon-2018-na/). We expect to announce the schedule and names of the presenters in the next 1 or 2 weeks. Information about the calls and other discussions about the project can be found on the [mailing list](https://lists.linuxfoundation.org/pipermail/oss-health-metrics/).

[2019-01-21 08:45] jgbarah commented on #67
I think it is time to close this...

[2019-01-21 08:45] #67 closed

[2019-01-21 08:46] jgbarah commented on #8
Maybe we could revisit this, and add this to some document here, and/or in the website? I think the idea is good...

[2019-03-06 00:44] germonprez opened #86 "Request that GSoC students make their submission repos private"
@GeorgLink what do you think about having the students submit private repos for their GSoC microtasks? They could make the repos available to organizers and mentors. This came up today in the Community Call

[2019-03-06 00:48] GeorgLink commented on #86
hm... I'm not a fan of the private repos because it goes against the "openness" paradigm of open source but I don't see major benefits or detriments and will defer to the majority of mentors.

Organizationally, we would have to provide a list of github accounts of all mentors and org admins that need to be given access to private repos.

[2019-03-06 00:56] germonprez commented on #86
It is because last year we had a concern that an applicant was looking at another solution.

[2019-03-06 03:14] GeorgLink commented on #86
I remember. If the mentors want private repos this year, we can amend our
instructions.

[2019-03-06 10:11] jgbarah commented on #86
In general, that should not be a problem (I mean, students looking at other repos). First, you have the dates, if that's important to detect copycats. Second, usually is the process and the interaction what matters. And we can always ask for additional microtasks, if we're in doubt.

Maybe we need to help students understand that copying and being copied is not a bad thing, specially if we request

[2019-03-06 11:42] germonprez commented on #86
Thanks for this @jgbarah

Sounds like the path is to keep the repos public (as is). Perhaps include the following statement?

4. Using and submitting other people's work as your own is not allowed. If you use other people's work, be sure to acknowledge their work in your submission.

Something like this.

[2019-03-06 12:13] aswanipranjal commented on #86
@germonprez @jgbarah @GeorgLink I too think that students making the repositories private might be a bad thing. Students might want to look at other solutions if they are stuck or just want inspiration and that should be okay as long as they acknowledge the original source.

[2019-03-06 17:58] #86 closed

[2019-03-18 15:53] GeorgLink commented on #8
This could live in the community handbook. However, so far we have not had a direct need for prefixes on emails.

[2019-03-19 16:51] GeorgLink opened #96 "require DCO for all new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off. The CHAOSS Project Charter requires that all contributions are signed-off.

For users of the git command line interface, a sign-off is accomplished with the `-s` as part of the commit command: `git commit -s -m 'This is a commit message'`

For users of the GitHub interf

[2019-03-19 19:38] GeorgLink commented on #96
DCO bot is now active for this repository!

[2019-03-19 19:38] #96 closed

[2019-03-20 11:26] germonprez opened #99 "Need to Update README"
Just pointing out the obvious :)

[2019-03-20 14:08] GeorgLink commented on #99
See pull request #97

[2019-03-28 14:09] GeorgLink opened #105 "Ideas for Handbook Pages"
What processes do we have in CHAOSS that could each constitute a single page?
Here are four ideas

1) Mentoring (e.g., GSoC, Outreachy, CommunityBridge)
    - Organisation administrators
    - Finding Mentors
    - Selecting Mentees
    - Integrating Mentees
    - Coordinating between Mentors and Mentees
2) Working Group
    - Starting a working group
    - meeting on regular calls
    - using mai

[2019-04-04 12:47] jgbarah commented on #8
@GeorgLink what do you think: we better change the title of this issue to somehow include "handbook", we better close it for now?

In any case, I think at least we're using prefixes such as [wg-d&i] or [wg-gmd] for matters specific for working groups..,

[2019-04-04 12:48] jgbarah commented on #99
Should we close this one, now that #97 is merged?

[2019-04-04 13:14] GeorgLink commented on #99
Yes

[2019-04-04 13:14] #99 closed

[2019-04-04 13:15] GeorgLink commented on #8
Sure, we can close for now.

[2019-04-05 18:44] germonprez opened #124 "Adding Information to DCO"
On the Common call, it was brought up to include a reference to https://github.com/coderanger/dco

This is a DCO tool and I'm not 100% sure how it would fit with our current design.

[2019-04-05 19:13] GeorgLink commented on #124
Really interesting. This tool might solve a problem where I use a GUI that does not support sign-off but maybe this tool will add the sign-off automatically. I'll give it a try.

[2019-04-23 16:20] GeorgLink commented on #105
5. Organizing CHAOSScon

[2019-04-23 16:27] BenLloydPearson commented on #105
Will each of the top level items (Mentoring, Working Group, etc.) have their own page? I think 2 would definitely need a top level page, but I'm not sure if the others would have enough content to justify them because most of the content would be in the lower pages.

If it has a top level page, I think 2. Working Group could be condensed into the following pages:
* Start a Working Group
* Working

[2019-04-28 12:56] GeorgLink commented on #105
I think @BenLloydPearson is right. What content goes on which page is malleable and we'll decide as we write those pages.

[2019-05-09 20:03] GeorgLink commented on #105
I started a draft for the CHAOSScon organizing page:
https://docs.google.com/document/d/1CCrN1lRkN-pWNrXL4mL0_XSzInX6VZ1X9JZSOQQicHw/edit

[2019-05-13 12:56] inishchith opened #134 "[ GSoC ] Project report and Meeting Log"
Addressing the community with the report and progress of the [GSoC Project: Support of Source Code Related Metrics ](https://github.com/chaoss/grimoirelab/issues/182)

- We will be discussing the progress of this project at the **`#grimoirelab`** channel on FREENODE IRC. The transcripts of the meetings (conversation log) will be made available in the repository that I'll be creating in due time. F

[2019-05-13 13:07] GeorgLink commented on #134
@inishchith

Welcome again to CHAOSS and congratulations on your acceptance to GSoC.
It is great to see that you are becoming familiar with the structure and ways of working in CHAOSS.
I look forward to reading your blog posts.

Best,
Georg

[2019-05-13 15:33] inishchith commented on #134
@GeorgLink Thanks.
I'll make sure to update this thread in the process when the blog posts are up ;)

[2019-05-13 15:44] GeorgLink commented on #134
Great!
Another idea is to share with the mailing list links to your blog posts. You might have seen in the email archive that previous GSoC students sent a weekly email - I liked the regular update to the whole community.

[2019-05-17 04:52] Polaris000 opened #135 "[GSoC] IRC Meeting and Communication Modes"
Regarding the GSoC project [Implementing CHAOSS metrics with Perceval](https://summerofcode.withgoogle.com/projects/#6557010399592448), the common modes of communication would be the following:
- Bi-weekly meetings with mentors on the channel `#grimoirelab` on freenode
- Emails on the mailing lists with links to my latest weekly blog posts.

The posts will live on my [website](https://polaris000.g

[2019-05-17 19:06] inishchith commented on #134
@GeorgLink @valeriocos @jgbarah @aswanipranjal

I've made a `project-tracker` repository which can be found [here](https://github.com/inishchith/gsoc-graal).
And my first blog post - [Accepted for GSoC 2019 & 1st Meeting](https://inishchith.github.io/blog/2019/05/introduction.html) is up. ( i'll also post it in the mailing list )

Please do leave suggestions.

Thanks :)

[2019-05-18 15:51] Polaris000 commented on #135
My first two blog posts!
- The [first one](https://polaris000.github.io/blog/pre-gsoc) talks about my experience contributing to open source and the journey before the selection
- The [second one](https://polaris000.github.io/blog/com_bonding_1) is in regards to the first community bonding meeting with my mentors

The log of this meeting can be found [here](https://github.com/Polaris000/GSoC_19_Pe

[2019-05-19 03:33] germonprez commented on #135
Nice to see these @Polaris000. Thanks for sharing 🥇

[2019-05-25 08:36] Polaris000 commented on #135
My latest blog post can be found [here](https://polaris000.github.io/blog/com_bonding_2)

The log of the latest meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/may_24_comm_bonding.txt).

[2019-05-26 12:25] inishchith commented on #134
- My latest blog post ( about 2nd meeting for community bonding period ) can be found [here](https://inishchith.github.io/blog/2019/05/community-bonding-2.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/23-05-19-community-bonding.txt)

[2019-05-31 17:16] Polaris000 commented on #135
**Week1**
My blog post can be found [here](https://polaris000.github.io/blog/week_1)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/may_31_comm_bonding.txt).

[2019-06-01 06:31] inishchith commented on #134
- Blog-post for coding period-1 week-1 can be found [here](https://inishchith.github.io/blog/2019/06/coding-period-1-1.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/31-05-19-coding-period-1-week-1.txt)

[2019-06-07 17:55] Polaris000 commented on #135
**Week2**
My blog post can be found [here](https://polaris000.github.io/blog/week_2)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/june_7_week2.txt).

[2019-06-07 18:29] inishchith commented on #134
Coding Period-1: Meet 2

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/06/coding-period-1-2.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-06-07-coding-1-week-2.txt)

[2019-06-14 16:33] Polaris000 commented on #135
**Week3**
My blog post can be found [here](https://polaris000.github.io/blog/week_3)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/june_14_week3.txt).

[2019-06-14 17:29] inishchith commented on #134
**Coding Period-1: Meet 3**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/06/coding-period-1-3.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-06-14-coding-1-week-3.txt)

[2019-06-21 16:25] inishchith commented on #134
**Coding Period-1: Meet 4**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/06/coding-period-1-4.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-06-21-coding-1-week-4.txt)

[2019-06-24 13:51] Polaris000 commented on #135
**Week4**

The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/june_24_week4.txt).

[2019-06-28 16:34] inishchith commented on #134
**Coding Period-1: Meet 5**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/06/coding-period-1-5.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-06-28-coding-1-week-5.txt)

[2019-06-29 10:41] Polaris000 commented on #135
**Evaluation week 1**
My blog post can be found [here](https://polaris000.github.io/blog/eval_1)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/june_28_eval1.txt).

[2019-07-05 16:50] inishchith commented on #134
**Coding Period-2: Meet 6**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/07/coding-period-2-6.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-07-05-coding-2-week-6.txt)

[2019-07-08 10:40] Polaris000 commented on #135
**Week5 **
My blog post can be found [here](https://polaris000.github.io/blog/week_5)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/july_5_week5.txt).

[2019-07-17 04:42] inishchith commented on #134
**Coding Period-2: Meet 7**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/07/coding-period-2-7.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-07-16-coding-2-week-7.txt)

[2019-07-19 05:23] Polaris000 commented on #135
**Week6**
My blog post can be found [here](https://polaris000.github.io/blog/week_6)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/july_16_week6.txt).

[2019-07-27 19:21] inishchith commented on #134
**Coding Period-2: Meet 8**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/07/coding-period-2-8.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc-graal/blob/master/meetings/19-07-26-coding-2-week-8.txt)

[2019-07-28 18:38] Polaris000 commented on #135
**Week7 and Evaluation week 2**
My blog post can be found [here](https://polaris000.github.io/blog/week_7_8)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/july_26_week7_8.txt).

[2019-07-28 19:12] GeorgLink commented on #134
Thank you for sharing. I especially liked the animated GIFs. Also, great to
see that your optimizations are working well.

Georg

On Sat, Jul 27, 2019 at 2:21 PM Nishchith Shetty <notifications@github.com>
wrote:

--
Georg Link, PhD
(he/him)

[2019-08-02 17:30] GeorgLink opened #141 "Removing requirement for reviews on prs"
I have 4 pull requests open that are minor and that I want to get merged. Since I'm the only listed maintainer on the repository, there is no one official to ping for reviewing my own pull requests. Therefore, I'm removing the review requirement, thus enabling myself to merge my own pull requests.

If anyone has a problem with this, please let me know.

[2019-08-02 17:30] #141 closed

[2019-08-07 07:35] inishchith commented on #134
**Coding Period-3: Meet 9**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/08/coding-period-3-9.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc/blob/master/meetings/19-08-06-coding-3-week-9.txt)

[2019-08-08 11:58] Polaris000 commented on #135
**Week8**
My blog post can be found [here](https://polaris000.github.io/blog/week_8)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/aug_6_week8.txt).

[2019-08-17 04:52] inishchith commented on #134
**Coding Period-3: Meet 10**

- Blog-post can be found [here](https://inishchith.github.io/blog/2019/08/coding-period-3-10.html)
- And IRC conversation log for the same can be found [here](https://github.com/inishchith/gsoc/blob/master/meetings/19-08-16-coding-3-week-11.txt)

[2019-08-18 17:38] Polaris000 commented on #135
**Week9**
My blog post can be found [here](https://polaris000.github.io/blog/week_9)
The log of the meeting can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/aug_13_week9.txt).

[2019-10-14 07:54] Polaris000 commented on #135
Since the GSoC coding period ended a while back, I'm closing this issue.

[2019-10-14 07:54] #135 closed

[2019-10-25 15:37] GeorgLink opened #143 "Test - tagging @chaoss/content-group"
Does everyone on the @chaoss/content-group get notified?

[2019-10-25 15:48] #143 closed

[2019-10-25 15:49] mpgjon commented on #143
Good test.

[2020-01-19 20:47] GeorgLink commented on #134
Closing because GSOC ended. Thank you for your participation!

[2020-01-19 20:47] #134 closed

[2020-01-19 20:48] #8 closed

[2020-01-27 22:26] germonprez opened #146 "Update GCoC Pages"
@GeorgLink -- I think that we should clear out the two GSoC pages. I think that we can leave a lot of the content, just remove the text that is associated with last summer. What do you think?

[2020-01-27 22:56] GeorgLink commented on #146
Yes, I agree. That's what we did last year too.

[2020-01-28 11:46] germonprez commented on #146
@sgoggins @valeriocos @dicortazar @sanacl

I'm pinging you guys as involved with GSoC in the last few years. Like prior years, we need to update our Ideas Page for potential students:

https://github.com/chaoss/governance/blob/master/GSoC-Ideas.md

I've also captured all ideas that have been shared across the CHAOSS project here:

https://docs.google.com/document/d/1idoDg-5M7Dte0SWNB8AdsR7E3cJyGsC

[2020-01-28 17:51] jgbarah commented on #146
This year I won't be able of leading GSoC projects, but I will try to support others who lead them, mainly in those related to GrimoireLab.

[2020-02-20 17:19] germonprez opened #156 "Minimum System Requirements for Outreachy"
Hi everyone,

As part of getting the projects available for Outreachy, I need a few more things from you. On the following page, I think I have most information:

https://github.com/chaoss/governance/blob/master/Outreachy-ideas.md

But a few things that I need you to spell out for me. You can just include answers in this Issue.

1) Minimum System Requirements. Please remember that for Outreachy, p

[2020-02-20 17:21] germonprez commented on #156
I'll add that I need to get this information posted by Feb 24, 2020.

[2020-02-20 19:11] GeorgLink commented on #156
I saw this issue and hope that the maintainers closer to the technology can provide this information.

[2020-02-20 20:16] samanthavenialogan commented on #156
So do you need me to help with this then or?

Call me for your free consultation! 307 274 5516

On Thu, Feb 20, 2020, 12:11 PM Georg J.P. Link <notifications@github.com>
wrote:

[2020-02-21 00:05] germonprez commented on #156
Update on this. I heard from Sage that the mentors have to submit the proposals/projects to Outreachy/CHAOSS because they have to sign the mentor agreement. I won't be able to submit on your behalf.

It makes me think that maybe we should scale back the number of projects to 4 or so. We have 8 at the moment.

[2020-02-21 02:48] GeorgLink commented on #156
I think having only 4 is manageable for students as well. What is the
process for mentors to submit the proposals?

[2020-02-21 03:23] samanthavenialogan commented on #156
We me know what dylan and I need to do and well get it to you Asap.  :) if
you're reducing projects how do you plan to choose?

Call me for your free consultation! 307 274 5516

On Thu, Feb 20, 2020, 7:48 PM Georg J.P. Link <notifications@github.com>
wrote:

[2020-02-21 04:03] GeorgLink commented on #156
Good question @samanthavenialogan, I would choose projects so that we have a broad range of topics and mentors. I suggest dropping the most similar options.

[2020-02-21 11:38] germonprez commented on #156
Can you see this page: https://www.outreachy.org/communities/cfp/chaoss/

[2020-02-21 12:48] GeorgLink commented on #156
Yes, I can see that page. Thanks!

[2020-02-21 15:03] germonprez commented on #156
Great. I reached out to @sgoggins so he will get two in from Augur

[2020-02-21 15:38] valeriocos commented on #156
Hi @germonprez , I have just talked with @GeorgLink, the idea is to submit the following ideas:
- https://github.com/chaoss/grimoirelab/issues/288
- https://github.com/chaoss/grimoirelab/issues/286

@samanthavenialogan can you submit the form for outreachy for https://github.com/chaoss/grimoirelab/issues/288? thanks

[2020-02-21 18:03] germonprez commented on #156
Hi @valeriocos this sounds great! Thanks for doing this and let me know if you have trouble getting these submitted by Feb 24: https://www.outreachy.org/communities/cfp/chaoss/

I'd do it for you but I can't as it requires a mentor sign-off by you :)

[2020-02-21 21:22] samanthavenialogan commented on #156
Yes. I will do this later tonight once I'm home from the conference.

On Fri, Feb 21, 2020, 11:03 AM Matt Germonprez <notifications@github.com>
wrote:

[2020-02-22 00:46] samanthavenialogan commented on #156
Hey do any of you have time to go through this with me by chance? there's a lot of content on this mentorship application I imply don't know such as this question:

How long has your team been accepting publicly submitted contributions?

or this one:
How can applicants make a contribution to your project?

[2020-02-22 12:17] valeriocos commented on #156
Hi @samanthavenialogan, sorry for the late reply!

More than 2 years

3-5 people

This info is similar to the issue https://github.com/chaoss/grimoirelab/issues/288

I would say: Hardware: 2 CPUs, 8GB memory RAM, Software: Linux OS (possibly Ubuntu). These requirements are taken from https://github.com/chaoss/grimoirelab#getting-started

I drafted the content below for the idea at https://github.c

[2020-02-22 12:27] germonprez commented on #156
Thanks @valeriocos -- first Outreachy project approved:

https://www.outreachy.org/apply/project-selection/#chaoss

@sgoggins as you have time this weekend, please upload a project or two :)

[2020-02-23 11:12] valeriocos commented on #156
@samanthavenialogan how is it going with the submission? Do you need some support?

[2020-02-24 05:40] samanthavenialogan commented on #156
Hey all,

Sorry for the late reply on this.  I was busy this weekend with a
conference for Keystone Symposia and it's taken a lot of my attention.  The
meeting season dies down here in a week though :)

Regarding this project, I did manage to submit.  I'm not too sure I did all
that great a job and I hope you can edit it but it looks like it submitted
successfully :)

I also sent @Dylan Marcy <dyl

[2020-02-29 09:13] shreyaprasad41 commented on #156
Hey @samanthavenialogan I am an outreachy aspirant and want to contribute to CHAOSS. Can you please guide me through the procedure for contribution in CHAOSS?

[2020-02-29 20:31] samanthavenialogan commented on #156
Hey Shreya!

This is exciting! I'm actually pretty new here as well, both as a mentor and to GitHub, but we'd love to help you get started!

Two really good points of contact in pretty much anything GSOC/Outreachy related is @germonprez and @GeorgLink.

Here are a few good links you may be interested in following to get started:
1. Get to know [CHAOSS](https://chaoss.community/participate/),
2. [i

[2020-03-02 19:45] #146 closed

[2020-03-02 19:46] #124 closed

[2020-03-19 13:16] miracle-E commented on #156
I'm an outreachy applicant and would love to contribute.

[2020-03-19 13:43] GeorgLink commented on #156
Hi @miracle-E, welcome to CHAOSS! I suggest you familiarize yourself with the Outreachy application process and how CHAOSS does things: https://github.com/chaoss/governance/blob/master/Outreachy-interest.md

[2020-03-31 12:54] germonprez opened #195 "Merge all GSoC proposals"
@GeorgLink can we merge all the GSoC PRs in one consolidated merge?

[2020-03-31 14:38] GeorgLink commented on #195
We should merge PRs individually. If I created a consolidated commit with everything I think that's more work and it's harder to track who are the original authors.

[2020-03-31 14:57] germonprez commented on #195
Is there a simple solution to merge the many PRs without creating conflicts, one after the other?

[2020-03-31 17:32] GeorgLink commented on #195
Not that I am aware of. Sorry 😔

I assume this is obsolete after we discussed how to resolve merge conflicts.

[2020-03-31 17:32] #195 closed

[2020-04-30 14:07] GeorgLink commented on #105
New Section: CHAOSScast

[2020-05-10 21:00] vchrombie opened #205 "[GSoC] Project Updates (287)"
Opening this issue to provide information about the updates on the project idea [Creating Quality models using GrimoireLab and CHAOSS metrics](https://summerofcode.withgoogle.com/projects/#5489558193438720) (https://github.com/chaoss/grimoirelab/issues/287).

I have created a project tracker repository for storing the progress, weekly summaries, and meeting logs. The link to the repository is http

[2020-05-11 13:17] GeorgLink commented on #205
Thanks Venu!
Could you please also send your blog posts to the CHAOSS mailing list?
Not everyone is actively paying attention to GitHub updates.

Best,
Georg

[2020-05-11 15:32] vchrombie commented on #205
Sure, @GeorgLink. I don't have any problems. I will be sending the weekly blog posts and updates to the mailing list too.

[2020-05-11 15:37] GeorgLink commented on #205
Thank you :-)

[2020-05-12 09:48] vchrombie commented on #205
#### GSoC Acceptance

Blog Post: [aceptación gsoc](https://vchrombie.github.io/blog/gsoc-acceptance)

[2020-05-12 10:03] vchrombie commented on #205
#### Community Bonding Week-1

Meeting log: [07-05-2020-community-bonding-1.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/07-05-2020-community-bonding-1.txt)
Work Report: [cb-week-1 report](https://github.com/vchrombie/gsoc/blob/master/work/community-bonding#week-1-summary)
Blog Post: [unión comunitaria 1](https://vchrombie.github.io/blog/community-bonding-1)

[2020-05-18 19:13] vchrombie commented on #205
#### Community Bonding Week-2

Meeting log: [14-05-2020-community-bonding-2.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/14-05-2020-community-bonding-2.txt)
Work Report: [cb-week-2 report](https://github.com/vchrombie/gsoc/blob/master/work/community-bonding#week-2-summary)
Blog Post: [unión comunitaria 2](https://vchrombie.github.io/blog/community-bonding-2)

[2020-05-25 20:44] vchrombie commented on #205
#### Community Bonding Week-3

Meeting log: [21-05-2020-community-bonding-3.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/21-05-2020-community-bonding-3.txt)
Work Report: [cb-week-3 report](https://github.com/vchrombie/gsoc/blob/master/work/community-bonding#week-3-summary)
Blog Post: [unión comunitaria 3](https://vchrombie.github.io/blog/community-bonding-3)

[2020-06-01 18:28] vchrombie commented on #205
#### Community Bonding Week-4

Meeting log: [28-05-2020-community-bonding-4.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/28-05-2020-community-bonding-4.txt)
Work Report: [cb-week-4 report](https://github.com/vchrombie/gsoc/blob/master/work/community-bonding#week-4-summary)
Blog Post: [unión comunitaria 4](https://vchrombie.github.io/blog/community-bonding-4)

[2020-06-08 20:33] vchrombie commented on #205
#### Coding Period 1 Week-1

Meeting log: [2020-06-04-coding-period-1-week-1.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-06-04-coding-period-1-week-1.txt)
Work Report: [cp-1-week-1 report](https://github.com/vchrombie/gsoc/blob/master/work/week-1/#week-1-summary)
Blog Post: [semana uno](https://vchrombie.github.io/blog/coding-period-1-week-1)

[2020-06-15 20:46] vchrombie commented on #205
#### Coding Period 1 Week-2

Meeting log: [2020-06-11-coding-period-1-week-2.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-06-11-coding-period-1-week-2.txt)
Work Report: [cp-1-week-2 report](https://github.com/vchrombie/gsoc/blob/master/work/week-2/#week-2-summary)
Blog Post: [semana dos](https://vchrombie.github.io/blog/coding-period-1-week-2)

[2020-06-18 18:04] tharun143 opened #209 "Confusion regarding GSoD proposal"
Hey, I went through the season of docs technical writer guide and found that the applicant has to submit the description and title in the [form](https://docs.google.com/forms/d/e/1FAIpQLSecVnkiamFJntE1iuguc-UXIQFCKOtKlq4S1o6I1QRjQKv4vQ/viewform). But as per the GSoD-interest.md, the applicants need to submit the proposal link. As there is no specific format for the GSoD proposal. So, how do I need

[2020-06-18 18:50] vchrombie commented on #209
Hi @tharun143
I read the guidelines. I know the application is a form.

I would suggest a thing, maybe you can follow if the idea is good enough.

You can create a google doc, let's call it as the (draft) proposal and you can write answers to all the questions, which are there in the form, in this doc. I saw a few questions in the form like

[code]

This would be better as you can edit these answe

[2020-06-18 19:03] germonprez commented on #209
Yea, I see the issue. With GSoC, applicants could point to a repo. In this case, we don't have that. I do like @vchrombie's idea of having applicants post the relevant components from the Google application form as a Google Doc or a Markdown file.

[2020-06-18 20:05] GeorgLink commented on #209
+1 @vchrombie

[2020-06-19 06:15] #209 closed

[2020-06-19 06:26] vchrombie commented on #209
Hi @tharun143, thanks for raising the question.

Do you think this is feasible?

[2020-06-19 06:28] tharun143 commented on #209
@vchrombie Yes, it's feasible and I am working on it. Thanks for the idea 😄

[2020-06-22 20:55] vchrombie commented on #205
#### Coding Period 1 Week-3

Meeting log: [2020-06-19-coding-period-1-week-3.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-06-19-coding-period-1-week-3.txt)
Work Report: [cp-1-week-3 report](https://github.com/vchrombie/gsoc/blob/master/work/week-3/#week-3-summary)
Blog Post: [semana tres](https://vchrombie.github.io/blog/coding-period-1-week-3)

[2020-06-25 17:04] ElizabethN opened #216 "Closed-Captioning for Meetings?"
I don't know if this is something that has been discussed in the past, but I've been wondering if there is an option (or desire?) to caption the meetings that we record and post.

I believe [Zoom has this capability](https://support.zoom.us/hc/en-us/articles/207279736-Using-closed-captioning) but I don't know if it is available within the university's current link we use from @germonprez.

I think

[2020-06-25 19:04] germonprez commented on #216
I did turn it on but we have to either have someone type or use a third
party. I'm interested in trying this out but I think we'll need to find an
external service to do it.

On Thu, Jun 25, 2020 at 12:04 PM Elizabeth Barron <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly

[2020-06-26 01:58] samanthavenialogan commented on #216
any video uploaded to youtube has an auto caption feature that will get you halfway there for free but it will require a little transcription.  There's also transcription services but I tend not to find it worth purchasing because youtube does a fairly good job ot it.  I usually just upload the video, set it going, come back half an hour later, download the script, fix it, and reupload.  Takes abo

[2020-06-26 12:13] germonprez commented on #216
Thanks!

I think we'll need something that really doesn't take much time. With
upwards of nine meetings in a week, we need to have as streamlined a
process as possible. We can afford to pay for a service that provides CC --
perhaps this is the best option.

On Thu, Jun 25, 2020 at 8:58 PM Samantha Venia Logan <
notifications@github.com> wrote:

--
Mutual of Omaha Professor
Information Systems
Coll

[2020-06-26 14:39] ElizabethN commented on #216
Based on @samanthavenialogan's comment, I played around a little with YouTube's transcription service. As she mentioned, it's really pretty good, and would probably be suitable for our numerous meetings :smile:

<img width="1482" alt="Screen Shot 2020-06-26 at 10 33 19 AM" src="https://user-images.githubusercontent.com/57594/85868972-0a5d7e00-b799-11ea-9c91-b9f49a3af743.png">

Could we add instruc

[2020-06-26 14:55] GeorgLink commented on #216
I'm understanding that a viewer who knows about captions on YouTube will have them as is. Or do we need to change anything from the administration side?

[2020-06-26 20:56] ElizabethN commented on #216
@GeorgLink yes, I think that's right. I guess I just wanted to call that out explicitly in case someone was having trouble finding that feature in YouTube, and to signal to our community that it's something that's important to us, too. Non-native English speakers might not be aware of this function in YT, but it's likely that hearing-impaired folks are.

I am not sure the best place to put this th

[2020-06-26 21:37] GeorgLink commented on #216
Thanks!

I like your idea of explaining the available resources and how to access
them.
I don't know best practices either.

In addition to the options you already mentioned, we could have a short
(silent?) scene/slide at the beginning of each video that explains how to
activate the captions in youtube.
A problem with that will be when YouTube changes the interface in the
future... but that's only

[2020-06-27 02:37] samanthavenialogan commented on #216
I would just put it in the "description template" of the youtube video.
You can set up default shells when you upload a youtube video of which the
recording will have and the information to do it will just be in the
description down below.  You can say something to the effect of:

"We value and respect any way you want to consume our content and want to
provide multiple ways of ensuring you can pa

[2020-06-28 14:29] ElizabethN commented on #216
@samanthavenialogan I love that message and sentiment! 🥰
@georglink (and anyone else who has an opinion about this) is it ok if I add it to the YouTube description template as @samanthavenialogan suggested? Do you think it should go anywhere else more visible on the website or GitHub repo?

[2020-06-28 14:30] GeorgLink commented on #216
+1 to update the template for YouTube videos as Venia suggested.

[2020-07-01 21:51] vchrombie commented on #205
#### Coding Period 1 Week-4

Meeting log: [2020-06-25-coding-period-1-week-4.md](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-06-25-coding-period-1-week-4.md)
Work Report: [cp-1-week-4 report](https://github.com/vchrombie/gsoc/blob/master/work/week-4/#week-4-summary)
Blog Post: [semana cuatro](https://vchrombie.github.io/blog/coding-period-1-week-4)

[2020-07-06 20:25] vchrombie commented on #205
#### Coding Period 1 Week-5

Meeting log: [2020-07-02-coding-period-1-week-5.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-07-02-coding-period-1-week-5.txt)
Work Report: [cp-1-week-5 report](https://github.com/vchrombie/gsoc/blob/master/work/week-5/#week-5-summary)
Blog Post: [semana cinco](https://vchrombie.github.io/blog/coding-period-1-week-5)

[2020-07-14 15:35] mbbroberg opened #227 "Project-wide statement on data, consent, and GDPR?"
I've been reviewing metrics and thought about this concern. Do we have a project-wide statement on data and consent?

I'm thinking whether we consider people should "get started" with CHAOSS, we add a note about it with further reading. I don't believe it's our responsibility to inform everyone about GDPR and how to manage data, but I do think it's right to point out the best practice of only shar

[2020-07-14 15:45] germonprez commented on #227
Thanks @mbbroberg!

This was the result of our June 16th meeting. I'm guessing we should just add this to the webpage somewhere.

We can make a disclaimer in our metrics release:

The CHAOSS project recognizes that there are ethical and legal challenges when using the metrics and software provided by the community. The specific challenges arise in the use that is specific to your context.

Ethical

[2020-07-14 18:52] GeorgLink commented on #227
The disclaimer is already on the metric page.

Maybe we do want to have more somewhere on the website?

[2020-07-14 20:29] vchrombie commented on #205
#### Coding Period 2 Week-6

Meeting log: [2020-07-09-coding-period-2-week-6.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-07-09-coding-period-2-week-6.txt)
Work Report: [cp-2-week-6 report](https://github.com/vchrombie/gsoc/tree/master/work/week-6#week-6-summary)
Blog Post: [semana seis](https://vchrombie.github.io/blog/coding-period-2-week-6)

[2020-07-16 14:45] mbbroberg commented on #227
@GeorgLink @germonprez I like the idea of a "Regarding Data Collection" page that is basically what Matt wrote above. I'd then PR a link to it in the root README of each WG. How's that sound?

[2020-07-16 14:51] germonprez commented on #227
Full disclosure, I didn't write that :) Maybe I wrote parts but this was collaboratively written in one of the community calls. 😄

Having this on the WG Readme pages is a good idea. We may want to find a spot on /website too.

[2020-07-16 14:55] mbbroberg commented on #227
Whatever we do, one copy would be best. If not the website, let's PR into this repo and link out. We don't want to update the text in X different orgs when we want to change it.

[2020-07-17 02:10] GeorgLink commented on #227
Good idea. I would prefer a page on the website if we link to it as a central resource.

[2020-07-22 10:08] vchrombie commented on #205
#### Coding Period 2 Week-7

Meeting log: [2020-07-16-coding-period-2-week-7.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-07-16-coding-period-2-week-7.txt)
Work Report: [cp-2-week-7 report](https://github.com/vchrombie/gsoc/tree/master/work/week-7#week-7-summary)
Blog Post: [semana siete](https://vchrombie.github.io/blog/coding-period-2-week-7)

[2020-07-27 21:13] vchrombie commented on #205
#### Coding Period 2 Week-8

Meeting log: [2020-07-23-coding-period-2-week-8.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-07-23-coding-period-2-week-8.txt)
Work Report: [cp-2-week-8 report](https://github.com/vchrombie/gsoc/tree/master/work/week-8#week-8-summary)
Blog Post: [semana ocho](https://vchrombie.github.io/blog/coding-period-2-week-8)

[2020-08-05 23:01] vchrombie commented on #205
#### Coding Period 2 Week-9

Meeting log: [2020-07-30-coding-period-2-week-9.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-07-30-coding-period-2-week-9.txt)
Work Report: [cp-2-week-9 report](https://github.com/vchrombie/gsoc/tree/master/work/week-9#week-9-summary)
Blog Post: [semana nueve](https://vchrombie.github.io/blog/coding-period-2-week-9)

[2020-08-11 20:12] vchrombie commented on #205
#### Coding Period 3 Week-10

Meeting log: [2020-08-06-coding-period-3-week-10.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-08-06-coding-period-3-week-10.txt)
Work Report: [cp-3-week-10 report](https://github.com/vchrombie/gsoc/tree/master/work/week-10#week-10-summary)
Blog Post: [semana diez](https://vchrombie.github.io/blog/coding-period-3-week-10)

[2020-08-18 22:00] vchrombie commented on #205
#### Coding Period 3 Week-11

Meeting log: [2020-08-13-coding-period-3-week-11.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-08-13-coding-period-3-week-11.txt)
Work Report: [cp-3-week-11 report](https://github.com/vchrombie/gsoc/tree/master/work/week-11#week-11-summary)
Blog Post: [semana once](https://vchrombie.github.io/blog/coding-period-3-week-11)

[2020-08-25 20:15] vchrombie commented on #205
#### Coding Period 3 Week-12

Meeting log: [2020-08-20-coding-period-3-week-12.txt](https://github.com/vchrombie/gsoc/blob/master/meetings/2020-08-20-coding-period-3-week-12.txt)
Work Report: [cp-3-week-12 report](https://github.com/vchrombie/gsoc/tree/master/work/week-12#week-12-summary)
Blog Post: [semana doce](https://vchrombie.github.io/blog/coding-period-3-week-12)

[2020-09-04 07:14] king-gao opened #232 "[Notes] The release version number are different between this time and before"
In the CHAOSS project homepage , URL : https://chaoss.community/release-history/

we rule the releasr version number is "YYYY-MM" in chaoss project ,like this:
![image](https://user-images.githubusercontent.com/58930496/92210165-cb4a5800-eec0-11ea-90b1-a73c34de3b70.png)
 but I found the releasr version number before this time is like this:
![image](https://user-images.githubusercontent.com/5893049

[2020-09-04 22:17] GeorgLink commented on #232
Thanks for noticing @king-gao
Yes, this is correct.
We got the feedback that we should add the hyphen and consequently changed the version number format.

The format we use is documented in our CHAOSS Community Handbook:
https://github.com/chaoss/governance/blob/master/community-handbook/metrics-release.md

[2020-09-04 22:17] #232 closed

[2020-10-27 17:19] Nebrethar commented on #227
This was brought back to our attention in the meeting today. [Minutes here](https://docs.google.com/document/d/1PMDWc6xMe0fNE7shxTK5_HE_ykRBG5w55_Zx5hvzsEY/edit).

[2021-02-20 19:45] klumb opened #237 "DCO - Github interface sign off fails"
DCO check fails for Github interface users.

Is this a bug that can be fixed?

Should we just set it to pass if we see the sign-off message?

See https://github.com/chaoss/website/pull/515

[2021-02-22 12:54] GeorgLink commented on #237
If the DCO sign-off is in the commit message, then I manually set the DCO check to `pass`.

[2021-03-10 14:35] vchrombie commented on #205
Closing this issue since we have completed the project. :smile:

[2021-03-10 14:35] #205 closed

[2021-04-27 18:31] SteveKola opened #273 "Does my email address need to be updated on the GSOC-interest lis"
Hello @GeorgLink,

I was just noticing now but I mistakenly put down `kolawolesteven@gmail.com` as my email address in the GSOC-interest file, instead of putting down the correct form which is `kolawolesteven99@gmail.com`.  I guess it was the last day rush that caused that silliness on my part 😣

I understand that the deadline for sending in PRs has passed but could it be updated? Especially if it

[2021-04-27 18:35] GeorgLink commented on #273
Could you please send a PR to fix the mistake? You still qualify because
your initial PR was sent on time.

[2021-04-27 19:21] SteveKola commented on #273
Thank you.  I have sent a new PR to fix the mistake.

[2021-04-27 19:36] GeorgLink commented on #273
Merged

On Tue, Apr 27, 2021 at 2:22 PM Steven Kolawole ***@***.***>
wrote:

--
Georg Link, PhD
(he/him)

[2021-04-27 20:05] #273 closed

[2021-04-30 05:33] xiaoya-Esther opened #275 "Summer 2021 - How do we collaborate on the program ideas?"
We submitted an application for CHAOSS to participate Summer 2021:
[https://summer.iscas.ac.cn/help/en/community/](https://summer.iscas.ac.cn/help/en/community/)

It's pretty much like GSoC in China, although the project ideas are not limited to code contributions.

CHAOSS is now a qualified participating organization in Summer 2021, we need to hash out the project ideas as soon as possible, how d

[2021-04-30 11:52] germonprez commented on #275
Thanks for this @xiaoya-Esther

Yes, we can certainly start with these ideas (assuming the GSoC mentors are okay with it).

A few questions:

1) Are there restrictions on who can apply? Can it be a global set of applicants?
2) Would we post the ideas in this repo or would we post the ideas on the Summer 2021 website?

Perhaps, as this is a new project for us, we start with a smaller set of potenti

[2021-04-30 12:13] GeorgLink commented on #275
Thanks @xiaoya-Esther -- It's fantastic that CHAOSS can participate in Summer 2021! 🎉

I recommend making an open call on the CHAOSS mailing list and asking for mentors to submit ideas.

Reusing GSOC ideas may work but some ideas will be addressed during GSOC and there may not be a need to do the same thing again.

Does the Summer 2021 timeline overlap with GSOC? If so, then there may be a concern

[2021-05-01 06:17] xiaoya-Esther commented on #275
Thanks for the feedback! @germonprez  @GeorgLink

No, the only restriction is that only **students** can apply. The documentation describes the policy on how non-Chinese students receive their bonus, so it could be global, although I suppose most of the applicants will come from China.

https://summer.iscas.ac.cn/help/en/community/

[2021-05-01 11:31] germonprez commented on #275
Thanks for the helpful information!

I would guess that the next step is to send a request for ideas to the maillist.

[2021-05-01 17:40] ritik-malik opened #276 "Templates for focus-areas READMEs in WGs"
Hi everyone,

Right now, the focus-areas READMEs in each WG have a different structure. For eg -
* [wg-value/focus-areas](https://github.com/chaoss/wg-value/tree/master/focus-areas)
* [wg-diversity-inclusion/focus-areas](https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus-areas)
* [wg-common/focus-areas](https://github.com/chaoss/wg-common/tree/master/focus-areas)

Also, each focus-

[2021-05-02 09:24] WillemJiang commented on #275
I just have a quick question about it, how can we elaborate the ideas list in the issue?

[2021-05-02 11:57] germonprez commented on #276
Hi @ritik-malik

We are considering this. For example, there is an issue in every WG. Here is the one in DEI:

https://github.com/chaoss/wg-diversity-inclusion/issues/358

[2021-05-02 12:06] ritik-malik commented on #276
Whoops! My bad,
I thought those issues were only for the main README

[2021-05-02 12:07] germonprez commented on #276
No problem! Feel free to include ideas that you have that may not be captured in the current proposal.

[2021-05-02 12:13] ritik-malik commented on #276
Hmm I guess the focus-area READMEs aren't mentioned in the current proposal

[2021-05-02 12:21] germonprez commented on #276
Ah. I see. Yours are located more in the lower-level folders.

[2021-05-02 14:51] yash2002109 opened #277 "Standardization of files in each WG repo"
Hi everyone,

Now that we're almost through with restructuring the working group repositories. We're also looking to create a standardized version for the set of files that are present in each WG repo. This will help increase uniformity in the way information is presented  in these repos.

The following set of files have been proposed for standardization:

-  README.md
    - The main README.md fil

[2021-05-02 19:35] GeorgLink commented on #275
Send an email to the chaoss mailing list and ask for ideas from potential mentors.

[2021-05-04 16:20] klumb opened #279 "Metrics Template Discussion"
**Provide Guidance on:**
- 1 - 2 page metrics page limits
- Links to metrics should point to an external website
- Image size limitations
- Image accessibility naming

[2021-05-05 14:34] GeorgLink commented on #276
The document looks good. Thanks for putting this together

[2021-05-13 19:33] GeorgLink commented on #277
The files are great. Thanks @yash2002109

[2021-05-31 14:43] vchrombie commented on #275
CHAOSS has proposed three ideas for the program, thanks to the mentors who helped with the ideas.
https://summer.iscas.ac.cn/#/org/orgdetail/chaoss?lang=en

@xiaoya-Esther and I will add the `-ideas.md` and `-interest.md` pages to the repositories as we would follow the same guidelines as GSoC, GSoD and Outreachy. With that, I think we can close the issue.

[2021-06-01 07:50] xiaoya-Esther commented on #275
Please find Summer 2021 CHAOSS project ideas in the doc:
https://docs.google.com/document/d/1CbPDR0igrOGVrFvzCbs-M6zd67UWbZrW2UeyoMxsTzc/edit?usp=sharing

[2021-07-20 11:14] ritik-malik commented on #276
The templates are merged, we can close this issue now

[2021-07-20 11:14] #276 closed

[2021-08-20 15:12] GeorgLink commented on #277
I know you did a lot of work standardizing all WG repos. Is there anything left to be done or can we close this issue?

[2021-09-07 15:30] ElizabethN commented on #6
This has been addressed in the [Community Handbook](https://handbook.chaoss.community/community-handbook/about/path-to-leadership), so I'm closing this issue.

[2021-09-07 15:30] #6 closed

[2021-09-07 15:33] ElizabethN commented on #105
I believe all these topics have been covered in the current version of the [Community Handbook](https://handbook.chaoss.community/community-handbook/), so I'm closing this issue.

[2021-09-07 15:33] #105 closed

[2021-09-07 17:11] ElizabethN opened #287 "How do we indicate when we are on vacation/unavailable?"
During the Community Call, the question was brought up about how we indicate to our fellow community members that we're unavailable or on vacation. This is especially for those core community members/Working Group leads/Maintainers that may have people waiting on them for action items.

The ideas that were brought forth were:

- Changing status on Slack
- Changing status on GitHub

Are there other

[2021-09-07 17:27] yash2002109 commented on #287
- If the individual is associated with a particular Working Group, he/she could intimate the working group in the meet prior to the one they won't be able to attend. Maybe simply add a note below the attendees' section of the next meeting?
- Another could be to simply inform the chairs of the WG or the community manager via mail/slack or any other suitable means.

[2021-09-08 22:27] GeorgLink commented on #287
I like the idea of setting the unavailable status somewhere so community members can find it.

Slack might work - worth trying.

Adding an info in the meeting notes might also work - worth trying.

I'm not sure if GitHub is the best place, since it is a public profile for other uses as well, not just for CHAOSS.

Once we decide on something, it would be great to add to the Community Handbook 👍

[2021-09-08 22:30] GeorgLink commented on #105
Yes, especially thanks to @jaskiratsingh2000's amazing work on the Handbook.

[2021-09-09 04:13] jaskiratsingh2000 commented on #105
Thanks

[2021-09-22 12:52] GeorgLink opened #288 "Update "Sponsor" links on all GitHub repos"
CHAOSS is switching to Open Collective for receiving and managing funds.

The new link is: https://opencollective.com/chaoss

All GitHub repos have a `/.github/FUNDING.yml` file that currently points to Community Bridge (now: LFx Crowd Funding) and that files needs to be updated to instead point to Open Collective.

[2021-10-07 15:06] Nebrethar opened #289 "Reviewing our use DCO for usability, personal safety, validity"
I appreciate that we want a contributor license agreement in our process. It's a valuable part of a growing organization to take it up. I want to go over some reasons I think DCO isn't helping us with that, hopefully concisely:

  - We are having issues with contributors knowing about the DCO, using the DCO, and patching mistakes with DCO. We have some [really](https://github.com/chaoss/wg-dei/pul

[2021-10-09 03:19] Nebrethar opened #290 "Metrics without contributor lists"
I noticed that older metrics have contributor lists, while some newer metrics do. That is OK until we need to add a contributor to an older metric.

Check out this PR: https://github.com/chaoss/wg-dei/pull/373

I could not add a contributor to the project-and-community/code-of-conduct metric because there is no list for it.

How should we handle this? I'm sure there are many different methods but

[2021-10-09 23:35] GeorgLink commented on #290
Could we add the heading when needed?

[2021-10-09 23:39] Nebrethar commented on #290
@GeorgLink

I’m not sure. If we add only new contributors to an older metric, we would then have an incomplete contributor list on that metric.

I have an idea, but it needs working through. We could have a disclaimer of some sort that says “Contributors since Release 2021-02” or something like that…?

[2021-10-09 23:49] GeorgLink commented on #289
Great arguments.

The DCO requirement comes from the Linux Foundation. If we want to change it, we need to involve the Linux Foundation.

[2021-10-11 14:53] ElizabethN commented on #290
I like this approach. I think during one discussion about this topic, it was brought up that to go back and retroactively contact everyone who worked on these foundational metrics, and get their consent to be recognized, would be a very time consuming task. It would definitely be easier to indicate these are the contributors since 2021-02 and just move forward from there.

[2021-10-11 14:59] ElizabethN commented on #277
I'm going to close this, as I think any remaining issues are being sorted out elsewhere. Thanks so much for your work on this @yash2002109 😻

[2021-10-11 14:59] #277 closed

[2021-10-11 15:08] ElizabethN opened #291 "Collecting Feedback for CHAOSScon 2022"
We have successfully shipped CHAOSScon 2021, and we need a place to collect thoughts and feedback for next time. This issue will serve that purpose ✨ .

For our reference, the feedback survey is here: https://docs.google.com/forms/d/e/1FAIpQLSd6kzyyafJRTSa1D_xEH_T4tICbSJ-24j0dqsOVvlmOsLZwcw/viewform?usp=sf_link.

Other feedback is welcome in the form of comments on this issue. Thanks!

[2021-10-11 15:14] ElizabethN opened #292 "Metrics Release 2022-03 Ideas"
During our latest weekly Community Call, we had an idea around our next Metrics Release in 2022. That idea is to do a **Metrics Audit**. We should make it a practice to periodically go back and review all "old" metrics for updates and improvements, and to make sure the language is clear and that the metrics are still relevant in the context of open source as it currently stands.

We're using this

[2021-10-11 15:23] ElizabethN commented on #287
Thanks, @GeorgLink and @yash2002109! I think these two things are enough to notify those who might be impacted by someone being away for a bit.

I'll put in a PR to the Community Handbook.

[2021-10-12 16:25] GeorgLink commented on #290
I also like the idea.

What if someone worked on the metric before 2021-02 and would like to be recognized? Would we still add them?

[2021-10-16 12:54] GeorgLink opened #293 "Add Community Culture page to handbook?"
Moving @jaskiratsingh2000's suggestion from https://github.com/chaoss/community-handbook/pull/25#issuecomment-942103186

[2021-10-19 15:12] ElizabethN commented on #287
Closing this issue, as the PR was merged.

[2021-10-19 16:46] ElizabethN commented on #292
[As discussed in today's Community Call](https://docs.google.com/document/d/1PMDWc6xMe0fNE7shxTK5_HE_ykRBG5w55_Zx5hvzsEY/edit?pli=1#), while we're going back and doing the Metrics Audit, we should include a review of any data ethics issues that might touch on the data included in the metrics. We should add the appropriate note in the Implementation section as discussed.

[2021-10-19 17:06] ElizabethN opened #294 "Providing Guidance to Working Groups Around Privacy"
During multiple discussions in our weekly Community Call and at CHAOSScon, the idea was surfaced that we should be providing guidance to our Working Groups around the consideration of privacy and ethics while developing metrics. For instance, sometimes our metrics include PII (Personally Identifiable Information) and we feel it's important to flag this for anyone who is using this metric in practi

[2021-10-19 18:34] GeorgLink commented on #294
Thanks for the draft @lucasgonze

[2021-10-26 06:14] timshen opened #297 "The tutorial document link doesn't work"
https://oss-augur.readthedocs.io/en/master/getting-started/toc.html mentioned below leads to a 404 page
[](url
<img width="1186" alt="Screen Shot 2021-10-26 at 2 10 10 PM" src="https://user-images.githubusercontent.com/2637142/138819080-3f91f5f3-02d7-4412-8f41-4ec0b452a5b4.png">
)

[2021-11-02 15:11] GeorgLink commented on #291
This is great feedback. I added it to the Handbook for next time:
https://handbook.chaoss.community/community-handbook/community-initiatives/chaosscon#feedback-and-suggestions-from-chaosscon-na-2021

On Tue, Nov 2, 2021 at 8:04 AM Elizabeth Barron ***@***.***>
wrote:

--
Georg Link, PhD
(he/him)
TZ: US Central Time: US/Chicago

[2021-11-03 16:01] ElizabethN commented on #290
Would this be something for the operations team to implement? I feel like it will cut across all metrics in all working groups.

[2021-11-03 16:17] ElizabethN opened #298 "CHAOSS Brand Kit"
As CHAOSS grows and the visibility of our work continues to increase, it's important to keep our brand intact and consistent and have a polished look. I'm opening this issue to allow for async discussion about this, as I know not everyone is at the community meetings all the time.

Feel free to drop your thoughts here!

cc @uoduckswtd1

[2021-11-04 04:50] GeorgLink commented on #298
This is super important!

We have the Media https://chaoss.community/media/ with links to the logo - that's the closest we have to a brand kit.

We also have the slide template that we have been using. Example: https://docs.google.com/presentation/d/1n_Kpg6wWXUH-S2RZErHXT4tkort6gZdK1RcGVLgNbik/edit#

[2021-11-16 17:47] ElizabethN commented on #298
During today's weekly Community Call, @uoduckswtd1 kindly offered to start a Brand Guidelines document for us. Thank you!! :pray:

[2021-12-16 17:02] geekygirldawn commented on #291
For the TODO Group OSPOlogy sessions, Ana has implemented the CFP as a GH Issue template. I wasn’t sure how well this would work until I really looked at it, and it’s fantastic! It has drop down boxes and everything you’d want for a CFP. You can see it by [going here](https://github.com/todogroup/ospology/issues/new/choose).

I was thinking that maybe we should try this for the next CHAOSScon? It

[2022-01-04 19:49] GeorgLink commented on #291
Interesting idea to use GitHub issues for CFPs.

Would all communication with submitters be through the issue or would we also ask for an email contact?

How would we deal with questions that ask for personal information and should not be public?

[2022-01-05 07:58] geekygirldawn commented on #291
There are definitely pros and cons to either our existing approach or this one. The con for this one is that we can't really request confidential data, and we would probably need to ask people if they wanted to provide an email address publicly or whether they would prefer to receive communications via the issue. We could have a link to an accompanying Google form where people could reference the

[2022-01-06 14:22] GeorgLink commented on #291
I also like the idea of a simple CFP process. Maybe we can design the process so we don’t need demographic details and are okay with only receiving submissions of what people are comfortable with sharing publicly. (I just saw Sophia's comment in Slack about CFP's sometimes containing information that is not public before the conference.)

[2022-01-11 18:18] lucasgonze commented on #294
With regard to Silona's comments today on specific regulations in the EU, I have added a "# Relevant Regulations" section for gathering data on concrete restrictions.

[2022-01-20 14:40] ElizabethN commented on #297
I did a little digging and I think it's a break because we changed master->main. Here is the new link (https://oss-augur.readthedocs.io/en/main/getting-started/toc.html), and I'll submit a PR in the website repo. Thanks for bringing this up @timshen!

[2022-01-20 14:40] #297 closed

[2022-01-20 14:42] ElizabethN commented on #297
Looks like this has already been fixed - it's all good!

[2022-02-04 21:41] ElizabethN commented on #298
Update for the masses: this work continues and we are meeting to discuss next week.

[2022-02-14 20:43] ElizabethN opened #302 "Ideas for Projects for She Code Africa"
CHAOSS is very interested in participating in the April-May cohort of [She Code Africa's Contributhon](https://sites.google.com/shecodeafrica.org/contributhon/mentor-orgs), but before we can complete our application to be a mentor organization, we need to define what project they will be working on. I think this is a little bit different than our usual GSOC projects because of the shorter timing,

[2022-02-14 21:47] germonprez commented on #302
Thanks @ElizabethN. This sounds like a great project idea. I'd sort of suggest only 1 (maybe 2) project ideas. The slackbot sounds great and I really liked that idea when it was talked about in the DEI audit team meeting.

[2022-02-15 16:55] ElizabethN commented on #302
I really like this idea, too! Is this something you would be able to act as a mentor, @Ruth-ikegah? I think you'd be awesome as a mentor!

[2022-02-15 17:57] Ruth-ikegah commented on #302
Yes, I can! We can talk more about it on slack or our 1:1 @ElizabethN

[2022-02-16 16:53] ElizabethN commented on #302
OK so after talking about this even more with @germonprez and the DEI Working Group, we think it would be fine to go ahead with our slackbot project idea and have you mentor, @Ruth-ikegah. We have plenty of people who can support from a technical standpoint that we shouldn't have any trouble. We can discuss at our weekly meeting tomorrow @Ruth-ikegah but let's do it! :tada:

[2022-02-28 17:12] sgoggins opened #305 "GSoC Idea: Implement Conversion Rate Metric in CHAOSS Software"
### Conversion Rate

Question: What are the rates at which new contributors become more sustained contributors?

Microtasks

For becoming familiar with Augur, you can start by reading some documentation. You can find useful information at in the links, below. Grimoirelab also has a set of installation instructions and documentation here: https://chaoss.github.io/grimoirelab-tutorial/

#### GSoC St

[2022-03-09 16:22] sgoggins opened #310 "Potential Outreachy Project: Implement the Conversion Rate Metric Model and Document the Metrics Model Process"
## This issue simply describes what one potential Outreachy project would be. There is nothing to do in this issue with respect to the application period.

### Conversion Rate

Question: What are the rates at which new contributors become more sustained contributors?

### Description

The conversion rate metric is primarily aimed at identifying how new community members become more sustained contr

[2022-03-09 16:27] sgoggins opened #311 "Outreachy Application-Period Engagement: Documentation Inclusivity"
1. An overview of the project can be found at #328
2. Install Augur (https://github.com/chaoss/augur)
3. Show us a screen shot in this issue that you got it installed (include the screen shot as a comment on this issue)
4. Review the existing documentation at: https://oss-augur.readthedocs.io/en/main/
5. Open an issue or PR to improve Augur documentation. You can edit Augur documentation here: htt

[2022-03-09 16:30] sgoggins opened #312 "Outreachy Application-Period Enagement: Conversion Rate"
1. An overview of the project can be found at #310
2. Install Grimoirelab (https://github.com/chaoss/grimoirelab)
3. Create a screen shot of your installed Grimoirelab instance and paste it as a comment in this issue.
4. Post an issue (not a PR) in the Metrics Model Working Group Repository (https://github.com/chaoss/wg-metrics-models)
5. The issue should include 1) Your Name, 2) A description of

[2022-03-09 16:32] jwflory commented on #311
On the admin/mentor side, see two example issues from a Fedora Project Outreachy project ([example 1](https://pagure.io/fedora-commops/fedora-happiness-packets/issue/100), [example 2](https://pagure.io/fedora-commops/fedora-happiness-packets/issue/103)). Including links to helpful documentation and clarifying what "success" looks like is helpful too. For example, a screenshot of what exactly? Shou

[2022-03-13 17:31] thesakshidiggikar commented on #311
I need help can I get help plz...for installing augur...?

[2022-03-13 20:45] thesakshidiggikar commented on #311
I am facing this issue while installing augur can you plz help out?
![image](https://user-images.githubusercontent.com/91860781/158078534-5b98ef38-fd4d-4f94-8f7f-edd6c3554175.png)

[2022-03-14 09:06] thesakshidiggikar commented on #311
after done with the stet up of backend in PostgreSQL ... I am confused about in next step for next for the setting of the next step that is augur  I  Have clone the request made a local environment in my Visual studio code .....i have this till now

![image](https://user-images.githubusercontent.com/91860781/158139706-4df0743a-481a-4b20-9f6c-0c35933836a9.png)

[2022-03-16 09:56] purna135 commented on #305
Hello, @sgoggins! I'd like to contribute to the project, but I can't seem to find any microtasks that will allow me to do so.
Kindly point me in the right direction.

[2022-03-17 08:39] TieWay59 commented on #305
Hi, @sgoggins.
My name is Taiwei Wu (also fine to call me Tieway) and I am a graduate student from Shanghai, China. Lately, I've been running grimoirelab examples in my own server with my friends and schoolmates. I don't have enough knowledge of Augur or openEuler Infra, so I am still not sure which one could be best.
I contacted some of the matrix contributors (Yehui and Xiaoya) for model details

[2022-03-18 18:04] sgoggins commented on #305
Hi @TieWay59 : If you want to do this for the Google Summer of Code, then all you need to do is complete the microtasks and proposals!  Same for you @purna135 !!

[2022-03-19 02:03] eyehwan commented on #305
@purna135 @TieWay59 It's great that you are showing the interests on this task, if you got any any questions, just put it here. I will try to give you the support as I can.

[2022-03-19 04:52] purna135 commented on #305
hello @eyehwan and @sgoggins, Thank you very much for your guidance.
I'm looking for advice on:
1. Which Tech Stack should we use?
2. What are the project's microtasks?

[2022-03-19 11:13] eyehwan commented on #305
@purna135 Hi Purna, I prefer Grimoirelab, that I am more familiar with , it also means that I could give more support from technical poit of view. But if you prefer Augur, it is fine, then @sgoggins would give you the support.
About project's microtasks, @sgoggins  could you give some hints on it?

BR//Yehui.

[2022-03-19 11:18] purna135 commented on #305
Thank you, @eyehwan; now we'll wait for @sgoggins.

[2022-03-22 20:36] jwflory opened #318 "Newcomer opportunity: Chair a CHAOSS Working Group meeting"
# Summary

Create more opportunities for someone to chair a meeting by requesting coaching or mentorship in advance.

# Background

I like that the Fedora Project gives a [virtual badge](https://badges.fedoraproject.org/badge/secretary-general) to a contributor for chairing a team meeting. Acknowledging it with a small token of appreciation incentivizes participation and empowers new contributors

[2022-03-24 19:31] ElizabethN commented on #318
I think this is an excellent idea, @jwflory! Dropping a few supporting pieces of info for reference.
- The option to facilitate a meeting is on our [newcomer form](https://docs.google.com/forms/d/e/1FAIpQLSd2-JGEYYLl9ZOgpPxL7ihvW-9kvzfTxgIpuyXfxLizbyIi1A/viewform) (but not everyone sees this or chooses to fill this out)
- We have [written guidance on how to facilitate a meeting](https://docs.googl

[2022-03-25 19:54] SHIVANGISINGH1 commented on #305
@sgoggins Hi I am Shivangi!  I am passionate about this project and I started going through the documentation and I am having a few doubts.

* Can you tell me why we are creating the project in python?
* Why we can't do development in windows OS for `Augur Documentation Inclusivity`

Thanks

[2022-03-28 05:50] vchrombie opened #320 "Move mentorship related files into a folder"
It is good to see CHAOSS is participating in many mentorship programs like the Summer of Code, Season of Docs, Outreachy, etc. We usually create `program-ideas.md` and `program-interest.md` pages for each program as our community follows a particular structure. I was thinking if it would be good if we can create a `mentorship` folder and move out all the files from the root of the repository to th

[2022-03-28 06:00] germonprez commented on #320
Yes! Good idea.

[2022-03-28 15:04] ElizabethN commented on #320
I have been thinking about this too, @vchrombie! +💯  to this idea. I'm going to assign this to you, as mentioned. And yes, let's wait a little 😆

[2022-03-28 18:34] fernanda-ordonez commented on #310
Hello @sgoggins, hope you're doing well. My name is Fernanda Ordoñez Jimenez and I'm currently a M.Sc. student, I found this project a very interesting one and would like to contribute to it, I think it would be helpful if you could add the micro-tasks listed below in this document, because right now is a little confusing having to search in different issues and documents, so it would be helpful f

[2022-03-28 20:01] vchrombie commented on #320
Thanks for your comments @ElizabethN @germonprez :+1:
Feel free to tag me here if I forget to open a PR at some later point (usually I don't but just in case :grimacing:)

[2022-03-29 02:26] fernanda-ordonez commented on #312
Hello everyone! Here is my first issue :)
<img width="1235" alt="Fernanda_first_issue" src="https://user-images.githubusercontent.com/66924998/160520266-87bdf44d-bd92-411b-9315-d5cefcbae93e.png">

[2022-03-30 17:10] TieWay59 commented on #305
Hello, @sgoggins and @vchrombie, I'm trying to read the actual code of the hole architecture of grimoirelab, this really slows me down because I can't find some kind of document explaining which repo invokes the others.
I have gone through the grimoirelab docs and I figure out that it's grimoirelab-sirmordred which actually holds the whole program.

Now my question can be summed up as follow:
- Ho

[2022-03-30 21:25] vchrombie commented on #305
Hi @TieWay59, thanks for showing your interest in this GSoC idea and GrimoireLab.

You can read about the different components in the GrimoireLab toolset in the [docs/components/workflow/](https://chaoss.github.io/grimoirelab-tutorial/docs/components/workflow/). You can also learn the step by step scenario of how GrimoireLab works from [docs/components/scenarios/](https://chaoss.github.io/grimoire

[2022-03-31 04:00] jwflory opened #321 "Tracking: CHAOSS Community Handbook -> Knowledgebase"
# Summary

Track topics and content in the process of being created or maintained for future inclusion in the future CHAOSS website knowledgebase.

# Background

In the D.E.I. Working Group and others, there is documentation and information about community workings that need to go somewhere. The CHAOSS Handbook is the current place we put this information, but the access is uncertain and there is

[2022-03-31 06:21] TieWay59 commented on #305
Thanks for your quick response @vchrombie ♥.

[2022-03-31 15:44] ElizabethN commented on #321
cc @klumb: we decided in the DEI Working Group to start this issue so that additions to the handbook/knowledgebase don't get lost. We can let other working groups know that if they're adding or creating docs to just put a placeholder here for future inclusion, as @jwflory mentioned above.

[2022-04-01 16:37] Preshh0 commented on #318
Hi, I'd like to be assigned this. I've already filled out the form in the link given above and read through the guidelines. If there's anything extra expected of me to be able to chair, I'd like to know.
Ps: I'm an Outreachy applicant.
Cheers.

[2022-04-04 15:51] ElizabethN commented on #318
Hi @Preshh0! Thanks for reaching out. It would be a good idea to attend a few meetings so you know what they are like, before facilitating. We rotate facilitation in our DEI Badging Meeting and our DEI Working Group meetings, which would be a great place to start. You can see details of when these meetings happen and how to join, on our [Participate Page](https://chaoss.community/participate). Hop

[2022-04-04 21:23] Preshh0 commented on #318
Yes it does. And I will, thank you for taking time out to reply me!

[2022-04-07 12:49] eyehwan commented on #305
Covertion rate has been added as one CHAOSS metric: https://github.com/chaoss/wg-evolution/blob/main/focus-areas/community-growth/conversion-rate.md

[2022-04-07 12:52] eyehwan commented on #305
Hi Mabel,
Conversion rate has been added as one CHAOSS metric:
https://github.com/chaoss/wg-evolution/blob/main/focus-areas/community-growth/conversion-rate.md,
here are some definitions of different roles of conversion rate.

BR//Yehui

On Thu, Apr 7, 2022 at 4:22 PM Mabel ***@***.***> wrote:

[2022-04-07 22:11] sgoggins opened #328 "Potential Outreachy Project: Augur Documentation Inclusivity"
## This issue simply describes what one potential Outreachy project would be. There is nothing to do in this issue with respect to the application period.

Project Description

Augur Documentation Inclusivity

Augur is a CHAOSS Software project that focuses on the collection and analysis of open-source software health and sustainability data.

Augur’s main focus is to measure the overall health an

[2022-04-08 12:33] eyehwan commented on #305
@mabelbot
Hi Mabel,
Union and conversion rate are related, but not exactly same.
Union is used to describe current contributors distribution status upon contribution amount, percentage of roles is used to evaluate the robustness of the community. One example is bus factor: https://github.com/chaoss/wg-risk/blob/main/focus-areas/business-risk/bus-factor.md, also there are two papers( related to par

[2022-04-09 11:41] yashtikajigs opened #338 "CHAOSS website is down"
Dear community, I am an initial applicant for Outreachy. I am potentially looking for an opportunity to contribute at CHAOSS and hence I have been going through several documents. I have found that CHAOSS website's URL - https://chaoss.community/ has been referenced at various locations but when I tried to visit this URL, the site is down. Seems like this is a hosting-related issue.
Please look at

[2022-04-09 11:46] yash2002109 commented on #338
Thanks for pointing this out, I guess @klumb can look into it.

[2022-04-09 17:27] klumb commented on #338
Thanks @yashtikajigs @yash2002109

The site is back up now.

[2022-04-09 17:27] #338 closed

[2022-04-11 10:49] germonprez commented on #289
HI all.

After talking with folks at the LF, I really think this is something we need to keep. The primary reasons around around ensuring that contributions are

The DCO indicates that contributors are responsible for the code that they contribute and that they understand that the contribution is under the terms of the [..] project licenses."

Not having the DCO also contributes to pattern that ma

[2022-04-11 10:50] #289 closed

[2022-04-11 10:52] germonprez commented on #290
I like the idea of Known Contributors. I don't want to add too many disclaimers to metrics. I think it's completely fine to have older metrics not have the contributor list as they were created before we recorded this.

[2022-04-11 10:52] #290 closed

[2022-04-11 10:53] germonprez commented on #291
@ElizabethN can this issue be closed now that we have the CFP all done?

[2022-04-11 11:42] germonprez commented on #292
@ElizabethN is this done? Can this issue be closed?

[2022-04-11 11:43] germonprez commented on #294
I'm closing this as the privacy/ethics statement has been added to all metrics -- even the Chinese/Mandarin release

[2022-04-11 11:43] #294 closed

[2022-04-11 11:44] germonprez commented on #302
Hi all, I'm going to close this issue as the ideas have become actual projects :)

[2022-04-11 11:44] #302 closed

[2022-04-11 11:47] germonprez commented on #293
Hi everyone. Do we have the login credentials for the Handbook? We either need to get these or remove and rebuild the handbook it.

[2022-04-11 12:43] ElizabethN commented on #292
@germonprez yeah, I think so. we have been doing the audit and have incorporated the privacy statement to the metrics in the 2022-04 release. :+1:

[2022-04-11 12:43] #292 closed

[2022-04-11 12:45] ElizabethN commented on #291
@germonprez if it's ok I'd like to leave it open while we are still in the planning phase. There is other valuable feedback apart from the CfP process that I don't want to get lost.

[2022-04-11 12:51] ElizabethN commented on #293
The information is here https://github.com/chaoss/community-handbook/, so at least we have the files for converting them into the knowledgebase. Since we also don't have the steps to adding or editing the handbook, we've been keeping a list of new docs to be added here: https://github.com/chaoss/community/issues/321.

We can probably close this issue since it's being handled in other places.

[2022-04-11 13:06] GeorgLink commented on #293
Yes, we do have the credentials. Who needs access?

[2022-04-11 13:52] germonprez commented on #293
Elizabeth does. Right now, we aren't able to make changes in GH and get them reflected in the handbook.

[2022-04-13 01:28] GeorgLink commented on #293
@jaskiratsingh2000 has always fixed this in the past. Not sure if he's around and would be able to fix this again for us.

My solution would be to disable the GitHub synchronization because it keeps failing us. This would mean we always edit the Handbook in GitBook.

[2022-04-13 01:40] ElizabethN commented on #293
A few of us have reached out a few times via different channels and haven't gotten a response, so I'm guessing he's just super busy. Thanks for trying @GeorgLink! We will just add new docs to the new knowledgebase and go forward from there.

[2022-04-13 16:34] Biki-das commented on #311
@sgoggins what do we mean here by install, like for the documentation inclusivity we need to locally run the doc first in a localhost, test our changes , but I did not find any instruction for the same , am I interpreting something wrong?

[2022-04-13 19:16] Preshh0 commented on #311
@Biki-das, there's an installation guideline in the docs.

[2022-04-14 12:38] yashtikajigs commented on #312
Dear Community,  I am Yashtika Jigyasu. I am an applicant for the Outreachy Internship. As per instruction in #2 of this issue, I have installed Grimoirelab on my local laptop using Docker.
Steps I followed-
Clone this project:
$ `git clone https://github.com/chaoss/grimoirelab`
Go to docker-compose folder and run the following command:
$ `cd grimoirelab/docker-compose`
$ `docker-compose up -d`
Th

[2022-04-15 13:44] marv-tech commented on #311
![AUGUR INSTALLATION](https://user-images.githubusercontent.com/57637620/163578034-6d1bd720-fc34-4357-a5af-868f8afa36f9.png)

Screenshot of Augur installation

[2022-04-16 00:01] thushariii commented on #312
Hello mentor! I am Thushari From Sri Lanka. I believe I am a bit late to join in. When I went through Chaoss and Grimorelab repositories It really excited me to contribute to this project and I appreciate the notion of the organization. Please find the snapshot of my Grimoirelab instance. I also tried to make some visualizations and my observation was that it takes a long time to generate certain

[2022-04-16 12:02] germonprez commented on #312
Thanks for this Thushari. I'm tagging @sduenas and @GeorgLink who might be able to provide some great advice here.

[2022-04-16 17:27] GeorgLink commented on #312
Hi @thushariii,

Welcome to CHAOSS and thank you for your interest in working on this.

Are you experiencing slowness from the dashboard displaying a visualization? This would required more hardware resources to process faster.

Are you experiencing slowness in figuring out how to create meaningful visualizations? This gets better with practice, [making visualizations in Kibana](https://chaoss.git

[2022-04-17 06:27] zededasatyam opened #353 "GSoD'22 initial cntact"
Hello community,

I am Satyam Kumar, an open source enthusiast and 3rd year Computer Science and Engineering undergraduate at National Institute of Technology Hamirpur.
I have successfully completed m project for MBDyn as a developer in GSoC 2021. I wish to contribute to the documentation of the organisation this year. I have good experience of writing technical documents as I have been doing this

[2022-04-17 13:17] germonprez commented on #353
Hi Satyam,

Welcome! I encourage you to join the #google-season-of-docs channel in
Slack.

Best,
Matt

On Sun, Apr 17, 2022 at 1:27 AM zededasatyam ***@***.***>
wrote:

--

Mutual of Omaha Distinguished Chair of Information Science & Technology
Professor of Information Systems and Quantitative Analysis
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kft

[2022-04-17 14:04] germonprez opened #354 "Google Season of Docs: TODOs for Application"
All proposals are submitted to our [Interest Page](https://github.com/chaoss/community/blob/main/GSoD-interest.md)
- You do not need to submit a proposal to all of the potential topics. Just pick one and submit your proposal, clearly defining what topic you are interest in. Three available topics are listed below.

## Website and Metrics Release
- Task - Audit documents on how to contribute to the

[2022-04-17 14:27] pratik2315 commented on #354
Thanks for the information @germonprez !
Looking forward to learn and interact with the Chaoss community in Google season of docs 2022.

[2022-04-18 06:30] skdbsp123 commented on #354
Hello @germonprez

I am planning to contribute to the task

Can you suggest a good starting point to know more about the community and other info that will help me write my proposal.

[2022-04-18 12:04] Francoise02 commented on #311
Hello @Biki-das, I'm also stuck on the installation but I can't see the guide you have mentioned in the docs. Please can you share the exact link to the guide? Thanks in advance :)

[2022-04-18 12:11] Preshh0 commented on #311
Hi @Francoise02, this is the one I'm currently using https://oss-augur.readthedocs.io/en/main/quick-start.html.

Although it's still proving difficult to install. What OS are you using?

[2022-04-18 12:53] Francoise02 commented on #311
Hello, @Preshh0 Thank you for sharing. Let me check it out! I'm using Microsoft Windows.

[2022-04-19 12:36] namgyalangmo commented on #311
![installss](https://user-images.githubusercontent.com/75657887/164005352-94e65f50-8c17-4f3f-9fef-d71d4954509d.jpeg)

[2022-04-19 14:07] Preshh0 commented on #311
![augur_success4!](https://user-images.githubusercontent.com/42142405/164022857-93e541b3-0d80-4e97-aa23-071733cab3b2.PNG)

![augur_success2!](https://user-images.githubusercontent.com/42142405/164022871-31046c11-85cc-45dc-8bad-9319b16cdb03.PNG)

[2022-04-19 14:47] Biki-das commented on #311
![Capture](https://user-images.githubusercontent.com/72331432/164031385-00cddbc6-0860-44cd-b773-ef685412f60b.PNG)

Augur successfully Installed .

[2022-04-20 10:16] yashtikajigs commented on #311
I have used the Docker method to install augur. Below is the snapshot of the same-
<img width="1440" alt="Screenshot 2022-04-12 at 6 16 16 PM" src="https://user-images.githubusercontent.com/100202374/164206314-64119ef0-0ad0-4426-8fc7-3e2029b8f97b.png">

[2022-04-21 12:32] ElizabethN commented on #321
Placeholder for me to include docs on the [Newcomer Slack Bot](https://github.com/chaoss/chaoss-slack-bot).

[2022-04-21 17:47] HarrietAkot commented on #311
![Uploading Screenshot from 2022-04-18 11-56-21.png…]()

[2022-04-21 17:51] HarrietAkot commented on #311
![Screenshot from 2022-04-18 11-56-21](https://user-images.githubusercontent.com/44574124/164520769-475e29be-689c-4b53-af26-307d8d840ad0.png)

[2022-04-21 19:29] Priya730 commented on #311
![image](https://user-images.githubusercontent.com/60316903/164537755-576a4ea7-fd91-4517-be32-599eeef3b335.png)

[2022-04-22 02:35] niyolynate opened #369 "Possible Outreachy Intern Project"
# Possible outreacy project
How an Outreachy would be participating in the CHAOSS Software projects,
My name is NiyoLynate, an outreachy applicant.

##Augur Documentation Inclusivity

* Augur is a CHAOSS Software project that focuses on the collection and analysis of open-source software health and sustainability data.

Augur’s main focus is to measure the overall health and sustainability of open

[2022-04-22 02:37] niyolynate commented on #369
Am Niyolynate, am sorry i delaayed to submit my final project, this is my project, i tried cloning, wrote this and failed to push. errors kept coming, so used this page.

[2022-04-22 06:19] DevanshRaizada commented on #311
![Screenshot (27)](https://user-images.githubusercontent.com/76863326/164615068-54c4f5ed-529c-4bba-a554-29fc3d097845.png)

[2022-04-22 06:19] DevanshRaizada commented on #311
![Screenshot (126)](https://user-images.githubusercontent.com/76863326/164615143-f61167c5-533b-453c-b88a-664adb13b8d5.png)

[2022-04-22 07:36] Biki-das commented on #311
hey  @DevanshRaizada you are copying my screenshot and posting it as your work? accidental ? please remove it.

[2022-04-22 07:40] DevanshRaizada commented on #311
Sorry attached wrong ss by mistake

[2022-04-22 10:24] Xaviemille commented on #311
![Augur](https://user-images.githubusercontent.com/39471619/164690997-3eac6f94-01d9-4db8-a17f-3cdd0950ca78.jpeg)

[2022-04-22 10:57] germonprez commented on #354
Hi @skdbsp123 are you able to join the CHAOSS Community Call? It is on Tuesdays at 11am US Central.

[2022-04-22 11:02] Biki-das commented on #311
hey @DevanshRaizada plz remove it.

[2022-04-22 11:40] germonprez commented on #311
Has this been resolved?

[2022-04-22 12:24] Delight362 commented on #311
![Screenshot from 2022-04-22 13-19-05](https://user-images.githubusercontent.com/96892410/164713700-caf278ca-f71e-48f0-b923-f5a74a4acf2d.png)

[2022-04-22 14:58] fakeInsights commented on #311
Hello All,
This Augur running on Google Colab.  Any thoughts and feedback are welcome. Thanks --
This is the start of a PR to improve Augur documentation and broaden inclusivity through a demo that works on Google Colab, a tool that is widely available for free online.

![augur01](https://user-images.githubusercontent.com/4354246/164739816-32f3d708-5e45-4dc9-ae45-0fd960183e87.jpg)
![augur02](https

[2022-04-22 15:31] kaitlyncodesthings commented on #312
Hello! My name is Kaitlyn, and I'm an Outreachy internship applicant. After a few hours of extreme technical difficulties (and having to start over twice), I've managed to get Grimoire Lab installed on to my desktop using Docker and following the instructions list above.

Below is my screenshot of the link once everything is up and running:
![screenshot-localhost_5601-2022 04 22-11_26_13](https://

[2022-04-23 05:45] skdbsp123 commented on #354
Sure, I'll join the call

[2022-05-04 16:32] ElizabethN commented on #369
Hi @niyolynate! I'm going to close this issue as we have all the outreachy proposals and the deadline has passed.

[2022-05-04 16:32] #369 closed

[2022-05-04 16:34] ElizabethN commented on #311
I'm going to close this issue now that the Outreachy deadline has passed.

[2022-05-04 16:34] #311 closed

[2022-05-04 16:34] ElizabethN commented on #310
I'm closing this as the Outreachy deadline has passed.

[2022-05-04 16:34] #310 closed

[2022-05-04 16:35] ElizabethN commented on #312
I'm closing this issue, as the Outreachy deadline has passed.

[2022-05-04 16:35] #312 closed

[2022-05-04 16:35] #328 closed

[2022-05-17 10:43] #354 closed

[2022-05-17 10:43] germonprez commented on #320
Hi @vchrombie, I think you can do this now. All applications are in and evaluated.

[2022-05-17 11:08] vchrombie commented on #320
awesome, I will open the PR later today

[2022-05-24 19:15] germonprez commented on #320
Hi @vchrombie -- Just a ping on this. It came up today in the community call

[2022-05-24 19:15] #305 closed

[2022-05-25 06:09] vchrombie commented on #305
Congrats to @mabelbot @TieWay59 for getting selected for this project! :tada:

We appreciate the efforts of the other applicants too, who worked really hard on the applications and microtasks. We would love to see you around, contributing to CHAOSS. Please feel free to reach out to us in case you have any concerns.

[2022-05-27 07:56] vchrombie commented on #320
Thanks for the ping @germonprez, I almost forgot this

I take my word back :speak_no_evil:

[2022-06-01 03:08] xiaoya-yaya opened #388 "[Handbook] Task1: Migrate the current content on Gitbook to Readthedocs"
## Potential Tasks

- [x] PR links to this issue would still happen in the [community-handbook](https://github.com/chaoss/community-handbook) repository
- [x] Might already be done by Sean:)  https://github.com/chaoss/community-handbook/pull/37
- [x] May still need some supplementary revisions
- [x] @ElizabethN Could you take a look at [Sean's PR](https://github.com/chaoss/community-handbook/pull/

[2022-06-01 03:33] xiaoya-yaya opened #389 "[Handbook] Task2: Reviewing and Updating the content"
## Potential Task
- Go through the handbook async
- Jot down outdated content areas
    - Docs to be added:
        - [ ] Mentored Project Documentation
        - [ ] Newcomer Slack bot Documentation
        - [ ] Project Badging Documentation
        - [ ] Metric Model Documentation

    - Docs for review/update:
        - [ ] CHAOSScast documentation
        - [ ] Website information
        - [

[2022-06-01 05:07] xiaoya-Esther opened #390 "[Handbook] Task3: Restructuring the content"
## Potential Task

- Some content might be merged with the Website content, there is duplicated information:
    - Participate Information
- Restructure sections

[2022-06-01 05:08] xiaoya-yaya opened #391 "[Handbook] Task4: Migrating Content to Community repo and WordPress"
## Potential Task

- Moving content from community handbook repo to Community repo
- Organizing current community repo content into folders
- Landing page design
    - Examples: https://layer5.io/community/handbook,
- Adding WordPress pages

[2022-08-11 10:26] xiaoya-yaya commented on #390
## About CHAOSS (community/people focus - History - past and present)
History
Mission and goals
Values
Board/past board/ and contributors
## CHAOSS Working Groups (How work is done)
#### Metrics Working Groups
Common Metrics
Diversity, Equity, and Inclusion
Risk
Value
App Ecosystem
Metric model
#### Software Working Groups
Augur
GrimoireLab
## Community Initiatives
#### DEI Badging
Events Badging

[2022-08-16 16:28] germonprez commented on #390
Suggestion to move:

Slack
MailingList
Zoom Meeting

Out of the Governance folder and into .... some folder regarding how we work.

[2022-08-16 16:28] germonprez commented on #390
Another suggestion:

Be as explicit as can be on the top level headings.

[2022-08-27 02:39] xiaoya-yaya commented on #390
Based on the community feedback, we updated a new structure.

[2022-08-27 03:06] xiaoya-yaya commented on #390
## About CHAOSS
- History of CHAOSS
- Mission and Goals
- Our Community Values

## How work is done in CHAOSS
#### Metrics Working Groups
- Common Metrics
- Diversity, Equity, and Inclusion
- Risk
- Value
- App Ecosystem
- Metric model
#### Software Working Groups
- Augur
- GrimoireLab
#### Community Projects
- DEI Badging
    - Events Badging
    - Project Badging
- Newcomer Slack Bot
- The MARS

[2022-08-30 16:17] foundjem commented on #390
I don't see the Evolution WG in the metric groups listing

[2022-08-30 16:55] ElizabethN commented on #390
@foundjem I just added that - good catch! :+1:

[2022-09-01 05:46] xiaoya-yaya commented on #390
Thank you Venia, the brand-style guide document is very useful!

[2022-11-09 12:03] xiaoya-yaya commented on #388
I think this is already addressed.

[2022-11-09 12:03] #388 closed

[2022-11-09 12:04] xiaoya-yaya commented on #389
The review notes are tracked in: https://github.com/chaoss/translations

[2022-11-09 12:04] #389 closed

[2022-11-15 22:27] #291 closed

[2022-11-15 22:28] ElizabethN commented on #293
I believe this information is included in the new handbook information so I'm closing this issue. Thanks everyone! :heart:

[2022-11-15 22:28] #293 closed

[2022-11-15 22:29] ElizabethN commented on #318
We now have some documentation on how to facilitate a meeting, and this is listed under the newcomer information. I'm going to close this issue as completed :+1:

[2022-11-15 22:29] #318 closed

[2022-11-15 22:30] ElizabethN commented on #321
@Ruth-ikegah @xiaoya-yaya as you both finish up the Handbook GSoD project, can you confirm for me that these points are covered somewhere in the new docs? Then I'll be able to close this issue. Thank youuuuu 🙏 😍

[2022-11-15 22:33] ElizabethN commented on #298
@Ruth-ikegah @xiaoya-yaya do you know if [these brand guidelines](https://docs.google.com/presentation/d/1BZSBa4Ttji95NTPwHcVjcu-CgiuwBezd/edit?usp=share_link&ouid=107031992323000623162&rtpof=true&sd=true) are linked anywhere in the handbook? I feel like we've talked about this so many times but I'm not sure where that ended up. Thank you!! :pray: 💖

[2022-11-16 06:47] xiaoya-yaya commented on #298
@ElizabethN I added a new [brand style guide](https://docs.google.com/presentation/d/1BZSBa4Ttji95NTPwHcVjcu-CgiuwBezd/edit#slide=id.p10) page under the **media and outreach** folder and linked this into the document.

The slide link was also added to the [Design contribution guide](https://github.com/chaoss/community/blob/main/how-to-contribute/contributing-to-chaoss/design-contribution.md#design

[2022-11-16 07:00] xiaoya-yaya commented on #321
### Docs to be added
- [ ] The mentorship projects documentation is unified under the [how-to-contribute/mentorship](https://github.com/chaoss/community/tree/main/how-to-contribute/mentorship) folder
- [ ] The [Slack Bot documentation](https://github.com/chaoss/community/blob/main/how-work-is-done/community-projects/chaoss-slack-bot.md)
- [ ] The metrics review related documentation is described i

[2022-11-16 14:21] ElizabethN commented on #298
Awesome, @xiaoya-yaya! Thank you so much for this! I can finally close this issue I think 😆

[2022-11-16 14:21] #298 closed